[submodule "lisp/markdown-mode"]
	path = lisp/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "lisp/go-mode.el"]
	path = lisp/go-mode.el
	url = https://github.com/dominikh/go-mode.el
[submodule "lisp/olivetti"]
	path = lisp/olivetti
	url = https://github.com/rnkn/olivetti.git
[submodule "lisp/orderless"]
	path = lisp/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "lisp/adaptive-wrap"]
	path = lisp/adaptive-wrap
	url = https://github.com/emacs-straight/adaptive-wrap.git
[submodule "lisp/rainbow-delimiters"]
	path = lisp/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters
[submodule "lisp/doom-themes"]
	path = lisp/doom-themes
	url = https://github.com/doomemacs/themes
[submodule "lisp/web-mode"]
	path = lisp/web-mode
	url = https://github.com/fxbois/web-mode
[submodule "lisp/rust-mode"]
	path = lisp/rust-mode
	url = https://github.com/rust-lang/rust-mode
[submodule "lisp/edit-indirect"]
	path = lisp/edit-indirect
	url = https://github.com/Fanael/edit-indirect.git
[submodule "lisp/zig-mode"]
	path = lisp/zig-mode
	url = https://codeberg.org/ziglang/zig-mode.git
[submodule "lisp/reformatter"]
	path = lisp/reformatter
	url = https://github.com/purcell/emacs-reformatter
[submodule "lisp/highlight-indent-guides"]
	path = lisp/highlight-indent-guides
	url = https://github.com/DarthFennec/highlight-indent-guides.git
[submodule "lisp/odin-mode"]
	path = lisp/odin-mode
	url = https://github.com/mattt-b/odin-mode.git
[submodule "lisp/typst-ts-mode"]
	path = lisp/typst-ts-mode
	url = https://codeberg.org/meow_king/typst-ts-mode.git
[submodule "lisp/multiple-cursors"]
	path = lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "lisp/consult"]
	path = lisp/consult
	url = https://github.com/minad/consult
[submodule "lisp/vertico"]
	path = lisp/vertico
	url = https://github.com/minad/vertico
[submodule "lisp/expand-region"]
	path = lisp/expand-region
	url = https://github.com/magnars/expand-region.el
[submodule "lisp/marginalia"]
	path = lisp/marginalia
	url = https://github.com/minad/marginalia.git
